$width: 100%;
$height: auto;
$padding: 10px;
$radius: 10px;
$radius-small: 5px;
$font-main: Arial, Helvetica, sans-serif;
$font-title: 'Ariel Black', Helvetica, sans-serif;
$font-size: 10pt;
$background-color: white;
$color: black;
$rotate: rotate(-180deg);
